.title{
	font-family: arial;
	font-size: 30px;
	color: red;
	text-align: center;
}

.normal{
	font-family: 'Times New Roman';
	font-size: 16px;
	color: black
}

ul{
	width: 500px;
	height: 50px;
	border: 5px solid black;
	list-style-type: none;
	
	margin: 0;
	padding: 0;
}

li{
	float: left;
	
	width: 100px;
	line-height: 50px;
	
}

.navlinks{
	display: block;
	
	font-family: Arial;
	color: black;
	background-color: aqua;
	
	text-align: center;
	text-decoration: none;
	
}

.navlinks:hover{
	color: white;
	background-color: blue;
	
}
